<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <!--h2 class="page-header">Pavimento flexible - Número estructural requerido</h2-->
            <ol class="breadcrumb">
                <li>
                    <i class="fa"></i><a>AASHTO</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i>
                    <a routerLink="/dashboard/module-one-usecase1">Pavimento flexible - Número estructural requerido</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="myForm" novalidate (ngSubmit)="calcular(myForm)">
            <div class="row">
                <div class="col-xl-3">
                    <label for="id_ejesequiv" class="form-control-label">Ejes equivalentes en el carril de
                    diseño
                    </label>
                </div>
                <div class="col-xl-6">
                    <div class="form-group input-group form-horizontal">
                        <span class="input-group-addon">N</span>
                        <input type="text" formControlName="ejesequiv" class="form-control" id="id_ejesequiv" placeholder="Ejes equivalentes a ejes simples de 8.2 t" (change)="onChangeAnyField()">
                    </div>
                    <small *ngIf="myForm.dirty && (!myForm.controls.ejesequiv.valid)" class="text-danger">
                            'El N deben ser > 0 y < 10.000.000'
                    </small>
                </div>
                <div class="col-xl-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ejesequiv_modal">
                        Ayuda               
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <label for="id_confiabdiseno" class="form-control-label">Confiabilidad del diseño</label>
                </div>
                <div class="col-xl-6">
                    <div class="form-group input-group" [ngStyle]="{'height': '38px'}">
                        <span class="input-group-addon">R</span>
                        <select class="form-control form-control-success" formControlName="confiabdiseno" id="id_confiabdiseno" (ngModelChange)="onChangeConfiabilidadDiseno($event)"
                            [ngStyle]="{'height':'38px'}">
                            <option value="">Seleccione un R</option>
                            <option *ngFor="let confiabdisenoOpt of confiabDisenoOptions" [value]="confiabdisenoOpt">{{confiabdisenoOpt}}</option>
                        </select>
                        <span class="input-group-addon">%</span>
                    </div>
                    <small *ngIf="myForm.dirty && (!myForm.controls.confiabdiseno.valid)" class="text-danger">
                    Es necesario seleccionar un R
                    </small>
                </div>
                <div class="col-xl-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#confiabdiseno_modal">Ayuda
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <label for="id_errestandar" class="form-control-label">Error estándar combinado</label>
                </div>
                <div class="col-xl-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">So</span>
                        <input type="text" formControlName="errestandar" class="form-control" id="id_errestandar"
                        (change)="onChangeAnyField()">
                    </div>
                    <small *ngIf="myForm.dirty && (!myForm.controls.errestandar.valid)" class="text-danger">
                        'El So debe ser > 0 y < 1'
                    </small>
                </div>
                <div class="col-xl-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#errestandar_modal">Ayuda
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <label for="id_modresili" class="form-control-label">Módulo resiliente de subrasante</label>
                </div>    
                <div class="col-xl-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Mr</span>
                        <input type="text" formControlName="modresili" class="form-control" id="id_modresili"
                        (change)="onChangeAnyField()">
                        <span class="input-group-addon">MPa</span>
                    </div>
                    <small *ngIf="myForm.dirty && (!myForm.controls.modresili.valid)" class="text-danger">
                        'El Mr debe ser > 0'
                    </small>
                </div>
                <div class="col-xl-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modresili_modal">Ayuda
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <label for="id_servicini" class="form-control-label">Serviciabilidad inicial</label>
                </div>
                <div class="col-xl-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Po</span>
                        <input type="text" formControlName="servicini" class="form-control" id="id_servicini"
                        (change)="onChangeAnyField()">
                    </div>
                    <small *ngIf="myForm.dirty && (!myForm.controls.servicini.valid)" class="text-danger">
                        'El Po debe ser > 0 y < 5'
                    </small>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#servicini_modal">Ayuda
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <label for="id_servicfin" class="form-control-label">Serviciabilidad final</label>
                </div>
                <div class="col-xl-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Pt</span>
                        <input type="text" formControlName="servicfin" class="form-control" id="id_servicfin"
                        (change)="onChangeAnyField()">
                    </div>
                    <small *ngIf="myForm.dirty && (!myForm.controls.servicfin.valid)" class="text-danger">
                        'El Pt debe ser > 0 y < 5'
                    </small>
                </div>
                <div class="col-xl-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#servicfin_modal">Ayuda
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <label for="id_numestruc" class="form-control-label">Número estructural requerido</label>
                </div>
                <div class="col-xl-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon">SNreq</span>
                        <input type="text" readonly formControlName="numestruc" class="form-control" id="id_numestruc">
                        <span class="input-group-addon">pulg</span>
                    </div>
                </div>
                <div class="col-xl-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modresili_modal">Ayuda
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>