<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <!--h2 class="page-header">Pavimento flexible - Número estructural requerido</h2-->
            <ol class="breadcrumb">
                <li>
                    <i class="fa"></i><a>AASHTO</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i>
                    <a routerLink="/dashboard/module-one-usecase1">Pavimento flexible - Número estructural requerido</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <form [formGroup]="myForm" novalidate (ngSubmit)="calcular(myForm)">
            <div class="form-group" [ngClass]="[myForm.dirty?(myForm.controls.ejesequiv.valid?'has-success':'has-error'):'']">
                <label for="id_ejesequiv" class="col-sm-3 form-control-label">Ejes equivalentes en el carril de
                    diseño</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">N</span>
                        <input type="text" formControlName="ejesequiv" class="form-control" id="id_ejesequiv" placeholder="Ejes equivalentes a ejes simples de 8.2 t">
                    </div>
                    <small *ngIf="myForm.dirty && (!myForm.controls.ejesequiv.valid)" class="text-danger">
                            'Los ejes equivalentes deben ser > 0 y < 10.000.000'
                        </small>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ejesequiv_modal">Ayuda</button>
                </div>
            </div>
            <div class="form-group">&nbsp;</div>
            <div class="form-group " [ngClass]="[myForm.dirty?(myForm.controls.confiabdiseno.valid?'has-success':'has-error'):'']">
                <label for="id_confiabdiseno" class="col-sm-3 form-control-label">Confiabilidad del diseño</label>
                <div class="col-sm-6">
                    <div class="input-group" [ngStyle]="{'height': '38px'}">
                        <span class="input-group-addon">R</span>
                        <select class="form-control form-control-success" formControlName="confiabdiseno" id="id_confiabdiseno" [ngStyle]="{'height': '38px'}">
                            <option value="">Seleccione un tipo</option>
                            <option *ngFor="let confiabdiseno of getConfiabDisenoOptions()" [value]="confiabdiseno">{{confiabdiseno}}</option>
                        </select>
                        <span class="input-group-addon">%</span>
                    </div>
                    <small *ngIf="!myForm.controls.confiabdiseno.valid" class="text-danger">
                    Seleccione una opcion valida
                    </small>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#confiabdiseno_modal">Ayuda
                    </button>
                </div>
            </div>
            <div class="form-group">&nbsp;</div>
            <div class="form-group" [ngClass]="[myForm.dirty?(myForm.controls.errestandar.valid?'has-success':'has-error'):'']">
                <label for="id_errestandar" class="col-sm-3 form-control-label">Error estándar combinado</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">So</span>
                        <input type="text" formControlName="errestandar" class="form-control" id="id_errestandar">
                    </div>
                    <small *ngIf="myForm.dirty && (!myForm.controls.errestandar.valid)" class="text-danger">
                        'El error estándar combinado debe ser > 0 y < 1'
                    </small>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#errestandar_modal">Ayuda
                    </button>
                </div>
            </div>
            <div class="form-group">&nbsp;</div>
            <div class="form-group" [ngClass]="[myForm.dirty?(myForm.controls.modresili.valid?'has-success':'has-error'):'']">
                <label for="id_modresili" class="col-sm-3 form-control-label">Módulo resiliente de subrasante</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">Mr</span>
                        <input type="text" formControlName="modresili" class="form-control" id="id_modresili">
                    </div>
                    <small *ngIf="myForm.dirty && (!myForm.controls.modresili.valid)" class="text-danger">
                        'El modulo resiliente debe ser > 0 y < 1'
                    </small>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="col-sm-4 btn btn-info" data-toggle="modal" data-target="#modresili_modal">Ayuda
                    </button>
                </div>
            </div>
            <div class="form-group">&nbsp;</div>
            <div class="col-xl-10 text-xs-center">
                <button class="btn btn-primary" type="submit">Crear</button>
            </div>
        </form>
    </div>
    <!--
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Vigencia Inicial</th>
                            <th>Vigencia Final</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let agreement of agreements" (click)="onSelect(agreement)">
                            <td>{{agreement.id}}</td>
                            <td>{{agreement.name}}</td>
                            <td>{{agreement.start_date}}</td>
                            <td>{{agreement.end_date}}</td>
                            <td>{{agreement.state}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    -->
</div>